:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

  /* PopularFeeds li dark grey rounded rectangle*/
 .my-2 {
    background: #e9e3e3;
    border-left: 4px solid #0070f3;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    list-style: none;

  }

  .fill-all {
    width: 100%;
    height: 100%;
  }




